
/*--TANGOFY MENU ICONS
    Copied from the WP stylesheet, replaced PNG URL---------------------------*/

#adminmenu #menu-dashboard div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -61px -33px;
    }
#adminmenu #menu-dashboard:hover div.wp-menu-image,
        #adminmenu  #menu-dashboard.wp-has-current-submenu div.wp-menu-image,
        #adminmenu  #menu-dashboard.current div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -61px -1px;
    }
#adminmenu #menu-posts div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -272px -33px;
    }
#adminmenu #menu-posts:hover div.wp-menu-image,
        #adminmenu #menu-posts.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -272px -1px;
    }
#adminmenu #menu-media div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -121px -33px;
    }
#adminmenu #menu-media:hover div.wp-menu-image,
#adminmenu #menu-media.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -121px -1px;
    }
#adminmenu #menu-links div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -91px -33px;
    }
#adminmenu #menu-links:hover div.wp-menu-image,
        #adminmenu #menu-links.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -91px -1px;
    }
#adminmenu #menu-pages div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -151px -33px;
    }
#adminmenu #menu-pages:hover div.wp-menu-image,
        #adminmenu #menu-pages.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -151px -1px;
    }
#adminmenu #menu-comments div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -31px -33px;
    }
#adminmenu #menu-comments:hover div.wp-menu-image,
        #adminmenu #menu-comments.wp-has-current-submenu div.wp-menu-image,
        #adminmenu #menu-comments.current div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -31px -1px;
    }
#adminmenu #menu-appearance div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -1px -33px;
    }
#adminmenu #menu-appearance:hover div.wp-menu-image,
        #adminmenu #menu-appearance.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -1px -1px;
}
#adminmenu #menu-plugins div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -181px -33px;
}
#adminmenu #menu-plugins:hover div.wp-menu-image,
        #adminmenu #menu-plugins.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -181px -1px;
}
#adminmenu #menu-users div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -301px -33px;
}
#adminmenu #menu-users:hover div.wp-menu-image,
        #adminmenu #menu-users.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -301px -1px;
    }
#adminmenu #menu-tools div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -211px -33px;
}
#adminmenu #menu-tools:hover div.wp-menu-image,
        #adminmenu #menu-tools.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -211px -1px;
}
#adminmenu #menu-settings div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -241px -33px;
    }
#adminmenu #menu-settings:hover div.wp-menu-image,
        #adminmenu #menu-settings.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-fugue.png") no-repeat scroll -241px -1px;
    }

/*--HIDE LARGE ICONS----------------------------------------------------------*/

.icon32 {
    display: none;
    }
