
/*--TANGOFY MENU ICONS
    Copied from the WP stylesheet, replaced PNG URL---------------------------*/

#adminmenu #menu-dashboard div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -61px -33px;
    }
#adminmenu #menu-dashboard:hover div.wp-menu-image,
        #adminmenu  #menu-dashboard.wp-has-current-submenu div.wp-menu-image,
        #adminmenu  #menu-dashboard.current div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -61px -1px;
    }
#adminmenu #menu-posts div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -272px -33px;
    }
#adminmenu #menu-posts:hover div.wp-menu-image,
        #adminmenu #menu-posts.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -272px -1px;
    }
#adminmenu #menu-media div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -121px -33px;
    }
#adminmenu #menu-media:hover div.wp-menu-image,
#adminmenu #menu-media.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -121px -1px;
    }
#adminmenu #menu-links div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -91px -33px;
    }
#adminmenu #menu-links:hover div.wp-menu-image,
        #adminmenu #menu-links.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -91px -1px;
    }
#adminmenu #menu-pages div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -151px -33px;
    }
#adminmenu #menu-pages:hover div.wp-menu-image,
        #adminmenu #menu-pages.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -151px -1px;
    }
#adminmenu #menu-comments div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -31px -33px;
    }
#adminmenu #menu-comments:hover div.wp-menu-image,
        #adminmenu #menu-comments.wp-has-current-submenu div.wp-menu-image,
        #adminmenu #menu-comments.current div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -31px -1px;
    }
#adminmenu #menu-appearance div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -1px -33px;
    }
#adminmenu #menu-appearance:hover div.wp-menu-image,
        #adminmenu #menu-appearance.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -1px -1px;
    }
#adminmenu #menu-plugins div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -181px -33px;
    }
#adminmenu #menu-plugins:hover div.wp-menu-image,
        #adminmenu #menu-plugins.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -181px -1px;
    }
#adminmenu #menu-users div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -301px -33px;
    }
#adminmenu #menu-users:hover div.wp-menu-image,
        #adminmenu #menu-users.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -301px -1px;
    }
#adminmenu #menu-tools div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -211px -33px;
    }
#adminmenu #menu-tools:hover div.wp-menu-image,
        #adminmenu #menu-tools.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -211px -1px;
    }
#adminmenu #menu-settings div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -241px -33px;
    }
#adminmenu #menu-settings:hover div.wp-menu-image,
        #adminmenu #menu-settings.wp-has-current-submenu div.wp-menu-image {
    background: transparent url("../images/menu-tango2.png") no-repeat scroll -241px -1px;
    }

/*  TANGOFY 32x32 ICONS */

#icon-edit,
        #icon-post {
    background: transparent url("../images/icons32-tango2.png") no-repeat -552px -5px;
    }
#icon-index {
    background: transparent url("../images/icons32-tango2.png") no-repeat -137px -5px;
    }
#icon-upload {
    background: transparent url("../images/icons32-tango2.png") no-repeat -251px -5px;
    }
#icon-link-manager,
        #icon-link,
        #icon-link-category {
    background: transparent url("../images/icons32-tango2.png") no-repeat -190px -5px;
    }
#icon-edit-pages,
        #icon-page {
    background: transparent url("../images/icons32-tango2.png") no-repeat -312px -5px;
    }
#icon-edit-comments {
    background: transparent url("../images/icons32-tango2.png") no-repeat -72px -5px;
    }
#icon-themes {
    background: transparent url("../images/icons32-tango2.png") no-repeat -11px -5px;
    }
#icon-plugins {
    background: transparent url("../images/icons32-tango2.png") no-repeat -370px -5px;
    }
#icon-users,
        #icon-user-edit {
    background: transparent url("../images/icons32-tango2.png") no-repeat -600px -5px;
    }
#icon-tools,
        #icon-admin {
    background: transparent url("../images/icons32-tango2.png") no-repeat -432px -5px;
    }
#icon-options-general {
        background: transparent url("../images/icons32-tango2.png") no-repeat -492px -5px;
    }

/*--TANGOFY LIST/EXCERPTS VIEW ICONS------------------------------------------*/

.view-switch #view-switch-list {
    background: transparent url(../images/list-tango.png) no-repeat 0 0;
    }
.view-switch #view-switch-list.current {
    background: transparent url(../images/list-tango.png) no-repeat -40px 0;
    }
.view-switch #view-switch-excerpt {
    background: transparent url(../images/list-tango.png) no-repeat -20px 0;
    }
.view-switch #view-switch-excerpt.current {
    background: transparent url(../images/list-tango.png) no-repeat -60px 0;
    }
